{
  "branches": [
    "main"
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "githubUrl": "https://api.github.com",
        "githubApiPathPrefix": "",
        "assets": [
          {
            "path": "archive-downloader-linux.zip",
            "label": "Linux Executable"
          },
          {
            "path": "archive-downloader-macos.zip",
            "label": "macOS Executable"
          },
          {
            "path": "archive-downloader-windows.zip",
            "label": "Windows Executable"
          }
        ]
      }
    ]
  ]
}
